.Carousel {
  width: 78vw;
  height: 50vh;
  overflow: hidden;
}
.Image_Container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.Image_Container img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .Carousel {
    width: 95vw;
    margin-top: 50px;
  }
}
