<%- include('components/header') %>
<section>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam voluptates
  consectetur itaque officia repudiandae quod voluptate illo recusandae expedita
  reiciendis animi tempore distinctio tempora aspernatur, magnam ducimus, illum
  optio fugiat! quos.
</section>
<%- include('components/Footer') %>
