.MessageBox {
  position: relative;
  width: 100vw;
  padding: 5px 2px !important;
  position: fixed;
  top: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.753);
  font-weight: bolder;
  font-family: var(--secondary-font);
  z-index: 100000;
}
.Close {
  position: absolute;
  right: 2px;
  cursor: pointer;
}
.Message {
  width: 89%;
  line-height: 25px;
  letter-spacing: 2px;
}
